@charset "UTF-8";
*{padding:0;margin:0;}
body{padding:1%;font:1em/1.5 Helvetica,Arial,sans-serif;color:#333;}
h1{font-size:2em;}
h2{font-size:1.5em;}
h3{font-size:1em;}
h1,h2,h3,p{margin:.2em 0;}
li{margin:.5em 2em;}
h1,h2,h3,p,li{max-width:60em;}
figure{margin:1em;float:right;}
img{border:0;}
a{color:#1982d1;text-decoration:none;}
a:focus,a:active,a:hover{text-decoration:underline;}
a[href^="http"]:before{content:url(external.png) " ";}
nav{float:left;width:100%;background:#222;margin:.5em 0;}
nav ul{font-size:.9em;list-style:none;}
nav li{float:left;position:relative;margin:0;}
nav a{display:block;padding:.8em;color:#eee;}
nav strong{color:#1982d1;}
#map{height:1024px;width:1024px;}/* Leaflet fetches tiles with height 256px, so choose a multiplied value of that here */
footer{margin:1em 0;border-top:.1em solid;font-size:.8em;}
#table h2,
#katholisch:target ~ table tbody tr,#evangelisch:target ~ table tbody tr,#andere:target ~ table tbody tr,
#web:target ~ table tbody tr,#facebook:target ~ table tbody tr,#google:target ~ table tbody tr,
#twitter:target ~ table tbody tr,#youtube:target ~ table tbody tr{display:none;}/* don't display the filter headlines and the table rows*/
#katholisch:target,#evangelisch:target,#andere:target,
#web:target,#facebook:target,#google:target,#twitter:target,#youtube:target{display:block;}/* display the headline for the active filter */
#katholisch:target ~ table tbody tr.katholisch,#evangelisch:target ~ table tbody tr.evangelisch,#andere:target ~ table tbody tr.andere,
#web:target ~ table tbody tr.web,#facebook:target ~ table tbody tr.facebook,#google:target ~ table tbody tr.google,
#twitter:target ~ table tbody tr.twitter,#youtube:target ~ table tbody tr.youtube{display:table-row;}/* display the rows for the active filter */
#validierung td{background:#515157 !important;}/*grey -> unknown*/
#validierung .r{background:#FF0000 !important;text-decoration:underline;}/*red -> error */
#validierung .r1{background:#88DC92 !important;}/*green -> all okay*/
#socialMediaTable tr td:nth-child(n+2){text-align:right;}
@media screen and (max-width:700px){ /* small screens */
body{padding:0;font-size:.8em;}
}

@media print{ /* print version */
body{background:none;font-size:10pt;color:#fff;}
footer,nav{display:none;}
}